<!DOCTYPE html>
<html lang="ca" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DAW2 Spring</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Llistat alumne</li>
        </ol>
    </nav>
    <ul class="list-group">
        <li class="list-group-item"  th:each="alumne, dades: ${alumnes}" >
            
            <span th:text="${dades.index}" />
            <!--@thymesVar id="alumne" type="edu.fje.daw2.model.Alumne"-->
            <!--/*@thymesVar id="nom" type="String"*/-->
            <!--/*@thymesVar id="nom" type="int"*/-->
            <span th:text="${alumne.nom}" />
            <span th:text="${alumne.nota}" />
        </li>

    </ul>
</div>

</body>
</html>