<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Suma</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div class="container" >
    <form action="/sumaRes" method="GET">
        <div class="form-group">
            <label for="n1">numero 1</label>
            <input name="n1" type="text" class="form-control" id="n1" aria-describedby="n1" placeholder="Entra el numero 1">
        </div>
        <div class="form-group">
            <label for="n2">numero 2</label>
            <input name="n2"  type="text" class="form-control" id="n2" aria-describedby="n2" placeholder="Entra el mumero 2">
        </div>

        <button type="submit" class="btn btn-primary">envia</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</div>
</body>
</html>